
.profilePic {
    width: 200px; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.main-background {
    width:100%;
    height:500px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter:brightness(40%); */
    padding: 1px; /*마진 콜랩스 땜에 패딩 좀 줘서 해결*/

}

.profileName {
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace; 
    color: blueviolet;
    letter-spacing: 5px; 
    text-align: center;
    margin-bottom: 0%;
}

.blog-profile {
    float: left;
    width:50px;
    border-radius:50%;
}

.blog-name {
    float:left;
}

.main-title {
    color:white;
    font-size: 40px;
    margin-top: 100px;
}

.nav-bar li{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.nav-bar a {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}

.prifileDetail {
    font-size: 1.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

span {
    font-weight: 600;
    color: red;
}

.aboutMe {
    display:block;
    background-color: cadetblue;
    width:90%;
    text-align: center;
    margin:10px;
    padding:10px;
    border:4px solid black;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
    box-shadow: 10px 5px 5px red;
}

.container {
    display: block;
    width:800px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.header {
    width:100%;
    height:100px;
    background: aquamarine
}

.blog-content {
    float:left;
    width:80%;
    height:200px;
    
}

.blog-image {
    float:left;
    width:20%;
    height:200px;
    
}

.left-menu {
    /* float:left; */
    display:inline-block;
    width: 20%;
    height:400px;
    background: cornflowerblue;
}

.right {
    /* float:left; */
    display:inline-block; /* inline-block은 div 박스를 내 크기 만큼만 차지하게 만들수 있다.*/
    width:80%;
    height: 400px;
    background: coral;
}

.footer {
    /* clear:both; */ 
    width:100%;
    height:100px;
    background:gray;
}